@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
header {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ), 
        url(../clock2.jpg);
    background-size: auto;
    height: 100vh;
    background-size: 100% 100%;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    white-space: nowrap;
    margin: 0px;
}
.title p {
    font-size: 2rem;
}

h6 {
    font-weight: bold;
    color: #056674;
}

.btn-flat {
    color: black;
}
.header {
    text-align: center;
}
.about-this-app-header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 130px;
    transition: 0.2s;
}
.description {
    margin-top: 20px;
    font-size: 24px;
}
.tech-stack-header{
    margin-top: 15px;
    font-size: 130px;
    display: flex;
    justify-content: center; 
    transition: 0.2s;
}
.tech-stack {
    font-weight: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.link-to {
    font-weight: normal;
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.tech {
    color: black;
    font-weight: normal;
    font-size: 24px;
}
.about-app {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 675px) {
    h1 {
        font-size: 45px;
    }
    .about-this-app-header {
        font-size: 60px;
    } 
    .tech-stack-header {
        font-size: 60px;
    }
    br {
        display: none;
    }

}


