div.input-field.col.s2 {
   float: left;
   margin-left: 60px;
}
div.input-field.col.s5 {
   float: left;
   margin-left: 60px;
}
textarea#message {
   background-color: #ffffff;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   width: 500px;
   
}
textarea#message:focus {
   border: 3px solid green;
   
}
.reminders {
   float: right;
}
ul {
   margin-right: 100px;
}
.cross {
   float: right;
   margin-left: 20px;
}
form#home {
   display: inline-block;
}
div.scheduledReminder {
   display: inline-block;
   border:1px solid #000;
   padding:20px;
   margin-top: 20px;
   margin-right: 30px;
   background-color:white;
}
svg.caret {
   display: none;
}

input#first_name.validate {
   background-color: #ffffff;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
   
}
input#first_name.validate:focus {
   border: 3px solid green;
   
}
input#last_name.validate {
   background-color: #ffffff;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
   margin-left:100px;
}
label#last_name {
   margin-left: 100px;
}
input#last_name.validate:focus {
   border: 3px solid green;
   
}

input#password.validate {
   background-color: #ffffff;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
}
input#password.validate:focus {
   border: 3px solid green;
}
input#date {
   background-color: #ffffff;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
   margin-left: 100px;
}
label#date {
   margin-left: 100px;
}
input#date:focus {
   border: 3px solid green;
}
input#time {
   background-color: #ffffff;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
}
input#time:focus {
   border: 3px solid green;
}


input#phone_number.validate {
   background-color: #ffffff;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
}
input#phone_number.validate:focus {
   border: 3px solid green;
}

 div#freq .select-wrapper input.select-dropdown{
   background-color: white;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
   margin-left: 125px;
}
div#timezone .select-wrapper input.select-dropdown{
   background-color: white;
   margin-top: 10px;
   margin-top: 10px;
   border-radius: 12px;
   border: 1px solid black;
   font-size: 18px;
   width: 200px;
   margin-left: 100px;
   
}
.select-wrapper input.select-dropdown:focus {
   border: 3px solid green;
}
label#timezone {
   margin-left: 100px;
}
label#frequency {
   margin-left: 125px;
}
select#frequency {
   margin-left: 440px;
}

