body {
    background-color: #e0ece4;
}

.input-field label {
    text-indent: 5px;
    margin-top: 7px;
    color: #66bfbf;
}

input#first_name.validate {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    
}
input#first_name.validate:focus {
    border: 3px solid green;
    
}
input#last_name.validate {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    margin-left:100px;
}
label#last_name {
    margin-left: 100px;
}
input#last_name.validate:focus {
    border: 3px solid green;
    
}
input#email.validate {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
}
input#email.validate:focus {
    border: 3px solid green;
    
}
input#password.validate {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
}
input#password.validate:focus {
    border: 3px solid green;
}
input#date {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    margin-left: 100px;
}
label#date {
    margin-left: 100px;
}
input#date:focus {
    border: 3px solid green;
}
input#time {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
}
input#time:focus {
    border: 3px solid green;
}


input#phone_number.validate {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
}
input#phone_number.validate:focus {
    border: 3px solid green;
}
.select-wrapper input.select-dropdown {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    margin-left: 100px;
}
.select-wrapper input.select-dropdown:focus {
    border: 3px solid green;
}
label#timezone {
    margin-left: 100px;
}
label#frequency {
    margin-left: 100px;
}
select#frequency {
    margin-left: 440px;
}
