*,
*::before,
*::after {
     box-sizing: border-box;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}
  
  /* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}
  

/* .input-field label {
    text-indent: 5px;
    margin-top: 7px;
    color: #66bfbf;
} */

