input#login_email.validate {
    background-color: white;
    margin-top: 100px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 18px;
  }
  input#login_email.validate:focus {
    border: 3px solid green;
  }
input#login_password.validate {
    background-color: #ffffff;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 18px;
}
input#login_password.validate:focus {
    border: 3px solid green;
}
input.invalid[type=email]:not(.browser-default) {
  box-shadow: 3px 3px 3px 3px red; 
}
input.invalid[type=password]:not(.browser-default) {
  box-shadow: 3px 3px 3px 3px red; 
}