.row .col {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.rotate {
    animation: rotation infinite 8s linear;
    width: 81px;
    height: 91px;
    display: flex;
    margin: 40px;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
